* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
  min-height: 100vh !important;
  display: flex !important;
  align-self: center !important;
  justify-content: center !important;
  /* width: 100%; */
  /* padding: 50px; */
  /* height: 100%; */
  /* margin-top: 200px; */
  perspective: 1000px;
}
.container-c {
  /* background-color: blue; */
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-c {
  /* transition: all 0.5 ease; */
  min-height: 80vh;
  width: 25rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  padding: 0rem 5rem;
  border-radius: 30px;
  transform-style: preserve-3d;
}
.photo {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  margin-top: 10px;
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.2); */
}
.photo img {
  width: 15rem;
  z-index: 2;
  border: solid;
  border-width: 1px;
  border-top-color: rgba(245, 70, 66, 0.75);
  border-left-color: rgba(245, 70, 66, 0.75);
  border-bottom-color: rgba(164, 66, 245, 0.75);
  border-right-color: rgba(164, 66, 245, 0.75);
  border-radius: 50%;
  transition: all 0.5s ease-out;
}

.circle {
  width: 20rem;
  height: 20rem;
  background: linear-gradient(
    to right,
    rgba(245, 70, 66, 0.75),
    rgba(164, 66, 245, 0.75)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transition: all 0.5s ease-out;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  transition: all 0.5s ease-out;
}

.socialIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* background-color: royalblue; */
  transition: all 0.5s ease-out;
}
.socialIcon button {
  margin-left: 5px;
  /* padding-left: 2px; */
  padding-right: 20px;
  background: none;
  border: none;
  margin-top: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.75s ease-out;
}

.button a {
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: none;
  font-family: "Poppins";
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: white;
  background-color: grey;
}

.button a:hover {
  color: white;
  text-decoration: none;
}

a {
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: none;
  font-family: "Poppins";
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.fa {
  color: grey;
  text-decoration: none;
}

.fa:hover {
  color: grey;
  text-decoration: none;
}
