* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
  min-height: 100vh !important;
  display: flex !important;
  align-self: center !important;
  justify-content: center !important;
  perspective: 1000px;
  overflow-x: hidden;
}
.background-img {
  background-image: url("./eight.jpg");
  background-size: cover;
  height: 30vh;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30%;
}
.overlay {
  height: 30vh;
  width: 100%;
  background-color: rgba(211, 211, 211, 0.356);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30%;
}
.container-c {
  /* background-color: blue; */
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-c {
  /* transition: all 0.5 ease; */
  min-height: 90vh;
  width: 25rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  /* padding: 0rem 5rem; */
  border-radius: 30px;
  transform-style: preserve-3d;
  background-color: #ffe7c2;
  color: #332a1c;
}
.desc {
  text-align: center;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.5s ease-out;
}
.hr {
  border-top-color: #332a1c;
  border-width: 1px;
  width: 20%;
}
.photo {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info img {
  width: 12rem;
  z-index: 2;
  /* border: solid;
  border-width: 1px;
  border-top-color: rgba(51, 167, 151, 0.75);
  border-left-color: rgba(51, 167, 151, 0.75);
  border-bottom-color: rgba(164, 66, 245, 0.75);
  border-right-color: rgba(164, 66, 245, 0.75);
  border-radius: 50%; */
  transition: all 0.5s ease-out;
}

.circle {
  width: 12rem;
  height: 12rem;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.75),
    rgba(210, 253, 244, 0.75)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transition: all 0.5s ease-out;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  transition: all 0.5s ease-out;
}
.bio {
  transition: all 0.5s ease-out;
}
.socialIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* background-color: royalblue; */
  transition: all 0.5s ease-out;
}
.socialIcon button {
  margin-left: 5px;
  /* padding-left: 2px; */
  padding-right: 20px;
  background: none;
  border: none;
  margin-top: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.75s ease-out;
}

.button-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.75s ease-out;
}

.button a {
  margin-top: 20px;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: none;
  font-family: "Poppins";
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: #332a1c;
  background-color: #dfbe8e;
  transition: all 0.5s ease-out;
}

.button a:hover {
  color: #332a1c;
  text-decoration: none;
}
.button-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.75s ease-out;
}
.button-outlined a {
  margin-top: 0px !important;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: none;
  font-family: "Poppins";
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: #332a1c;
  border: solid 1px #dfbe8e;
  background-color: transparent;
  transition: all 0.5s ease-out;
}

.button-outlined a:hover {
  color: #332a1c;
  text-decoration: none;
}
a {
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: none;
  font-family: "Poppins";
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.fa {
  color: #332a1c;
  text-decoration: none;
}

.fa:hover {
  color: #332a1c;
  text-decoration: none;
}

.floating-button .button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50%;
  border: none;
  background-color: grey;
  color: white;
  right: 0px;
  position: absolute;
  bottom: 50px;
  right: 10px;
}
/* Mobile Optimization */
@media screen and (max-width: 480px) {
  .card-c {
    width: 25rem;
  }
}

@media screen and (max-width: 320px) {
  .card-c {
    width: 19.8rem;
  }
}
